<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.GoodsCategoryMapper">
	<!-- 查询商品分类信息 -->
	<!-- 
		List<GoodsCategory> selectCategoryByParentId(
			@Param("parentId") Integer parentId,
			@Param("offset") Integer offset,
			@Param("count") Integer count);
	 -->
	 
	 <select id="selectCategoryByParentId"
resultType="cn.tedu.store.bean.GoodsCategory">
	  select 
			id,
			parent_id parentId,
			name,
			status,
			sort_order sortOrder,
			is_parent isParent,
			created_user createdUser,
			created_time createdTime,
			modified_user modifiedUser,
			modified_time modifiedTime
		from t_goods_category
		where
			parent_id = #{parentId}
		and
			status =1
		<if test="offset!=null">
			limit #{offset},#{count}
		</if>
	 			
	 </select>
	
</mapper>

















