body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:40px;
  width:980px;
  height:859px;
  overflow:hidden;
}
#u1298_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:859px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1298_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:85px;
  background:inherit;
  background-color:rgba(98, 168, 234, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:85px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:14px;
  width:938px;
  word-wrap:break-word;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:33px;
  width:22px;
  height:22px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:31px;
  width:77px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:735px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:95px;
  width:350px;
  height:735px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:191px;
  width:305px;
  height:12px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:12px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:191px;
  width:291px;
  height:12px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:614px;
  width:120px;
  height:30px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:735px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:95px;
  width:350px;
  height:735px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:191px;
  width:305px;
  height:12px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:12px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:191px;
  width:291px;
  height:12px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#37474F;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:203px;
  width:305px;
  height:40px;
  color:#37474F;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:301px;
  word-wrap:break-word;
}
