body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:964px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:36px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:892px;
  width:122px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:36px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#526069;
  line-height:48px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:928px;
  width:64px;
  height:52px;
  color:#526069;
  line-height:48px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:344px;
  width:44px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:418px;
  width:44px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:485px;
  width:30px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:347px;
  width:109px;
  height:25px;
  font-size:13px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  white-space:nowrap;
}
#u1089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:421px;
  width:109px;
  height:25px;
  font-size:13px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  white-space:nowrap;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:495px;
  width:83px;
  height:25px;
  font-size:13px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  white-space:nowrap;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:562px;
  width:194px;
  height:248px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:190px;
  white-space:nowrap;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:562px;
  width:304px;
  height:248px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:300px;
  white-space:nowrap;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#526069;
  line-height:48px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:358px;
  width:215px;
  height:52px;
  font-size:14px;
  color:#526069;
  line-height:48px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  white-space:nowrap;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:978px;
  width:126px;
  height:200px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:14px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:978px;
  width:126px;
  height:14px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:972px;
  width:57px;
  height:25px;
  font-size:13px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  white-space:nowrap;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:985px;
  width:0px;
  height:0px;
}
#u1105_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u1105_seg1 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:978px;
  width:126px;
  height:200px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1015px;
  width:120px;
  height:90px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#76838F;
  text-align:center;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1029px;
  width:89px;
  height:34px;
  font-size:12px;
  color:#76838F;
  text-align:center;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(228, 234, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 234, 236, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1088px;
  width:60px;
  height:17px;
  font-size:12px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(98, 168, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(98, 168, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:1088px;
  width:60px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1022px;
  width:80px;
  height:75px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1015px;
  width:120px;
  height:90px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#76838F;
  text-align:center;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1029px;
  width:89px;
  height:34px;
  font-size:12px;
  color:#76838F;
  text-align:center;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
  background:inherit;
  background-color:rgba(98, 168, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(98, 168, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1088px;
  width:120px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#526069;
  line-height:48px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:928px;
  width:64px;
  height:52px;
  color:#526069;
  line-height:48px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u1127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:978px;
  width:126px;
  height:200px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1017px;
  width:80px;
  height:95px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#526069;
  line-height:48px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:928px;
  width:90px;
  height:52px;
  color:#526069;
  line-height:48px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  white-space:nowrap;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:36px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:64px;
  width:77px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:36px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:176px;
  width:186px;
  height:80px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  white-space:nowrap;
}
#u1137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#526069;
  line-height:48px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:256px;
  width:61px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#526069;
  line-height:48px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#526069;
  line-height:48px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:128px;
  width:89px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#526069;
  line-height:48px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:176px;
  width:207px;
  height:136px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:203px;
  white-space:nowrap;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#62A8EA;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:176px;
  width:110px;
  height:136px;
  color:#62A8EA;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  white-space:nowrap;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:55px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:410px;
  width:230px;
  height:34px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
  text-align:center;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:412px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#C9C9C9;
  text-align:center;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:412px;
  width:191px;
  height:30px;
}
#u1150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1122px;
  width:14px;
  height:15px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:1126px;
  width:6px;
  height:6px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
