body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1037px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:85px;
  background:inherit;
  background-color:rgba(98, 168, 234, 1);
  border:none;
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:36px;
  width:980px;
  height:85px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:14px;
  width:938px;
  word-wrap:break-word;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:69px;
  width:22px;
  height:22px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:67px;
  width:77px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:12px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:954px;
  width:291px;
  height:12px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:735px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:178px;
  width:350px;
  height:735px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:274px;
  width:305px;
  height:12px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:12px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:274px;
  width:291px;
  height:12px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:324px;
  width:44px;
  height:44px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:331px;
  width:30px;
  height:30px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:459px;
  width:183px;
  height:25px;
  font-size:13px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:183px;
  white-space:nowrap;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:386px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
